@use "../../../utilities/variables";

.heading {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .image {
    width: 100%;
  }
  .title {
    font-size: 2.7em;
    line-height: 1em;
  }
  .subtitle {
    color: variables.$dark-grayish-blue;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
  }
  .button {
    align-self: flex-start;
    background-color: variables.$red;
    color: variables.$off-white;
    font-size: 1em;
    letter-spacing: 0.15em;
    padding: 12px 30px;
    text-transform: uppercase;
  }
  .button:hover, .button:focus {
    background-color: variables.$very-dark-blue;
    cursor: pointer;
  }
}

@media screen and (min-width: 1000px) {
  .heading {
    display: grid;
    grid-template-areas: 
      "img img img"
      "h1 h2 h2"
      "h1 btn btn"
    ;
    align-content: space-between;
    picture {
      grid-area: img;
    }
    .title {
      grid-area: h1;
      line-height: 1.5em;
    }
    .subtitle {
      grid-area: h2;
      font-size: 1.2em;
      line-height: 1.7em;
    }
    .button {
      grid-area: btn;
      width: 60%;
      text-align: center;
      align-self: flex-end;
    }
  }
}