@use "../../../utilities/variables";

.new {
  background-color: variables.$very-dark-blue;
  padding: 25px 20px;
  .title {
    color: variables.$orange;
    font-size: 2em;
    margin-bottom: 25px;
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    .post {
      .title {
        color: variables.$off-white;
        font-size: 1.25em;
        margin-bottom: 1em;
      }
      .subtitle {
        color: variables.$dark-grayish-blue;
        font-size: 1em;
        font-weight: 400;
        text-align: start;
      }
    }
    .line {
      background-color: variables.$dark-grayish-blue;
      height: 1px;
    }
  }
}

@media screen and (min-width: 1300px) {
  .new {
    .list {
      gap: 3em;
    }
  }
}