@use "../utilities/variables";

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  .nav-modal {
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    .nav-bar {
      background-color: variables.$off-white;
      display: flex;
      flex-direction: column;
      gap: 1.5em;
      height: 100%;
      margin-left: 40vw;
      padding: 20px;
      padding-top: 35%;
      width: 60vw;
      .button {
        position: absolute;
        right: 24px;
        top: 42px;
      }
      .nav-link {
        color: variables.$very-dark-blue;
        font-size: 1em;
        font-weight: 400;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .header {
    margin-bottom: 40px;
    .button {
      display: none;
    }
    .nav-modal {
      display: flex;
      z-index: 0;
      background-color: transparent;
      position: relative;
      .nav-bar {
        background-color: variables.$off-white;
        justify-content: flex-end;
        display: flex;
        flex-direction: row;
        gap: 1.5em;
        height: 100%;
        margin-left: 0px;
        padding: 0px;
        width: 100%;
        .nav-link {
          color: variables.$dark-grayish-blue;
          font-size: 1.2em;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .header {
    .nav-modal {
      .nav-bar {
        .nav-link {
          font-size: 1.5em;
        }
      }
    }
  }
}
