@use "../utilities/variables";

.new {
  background-color: variables.$very-dark-blue;
  margin-bottom: 60px;
  padding: 25px 20px;
  .title {
    color: variables.$orange;
    font-size: 2em;
    margin-bottom: 25px;
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .post {
      .title {
        color: variables.$off-white;
        font-size: 1.25em;
        margin-bottom: 12px;
      }
      .subtitle {
        color: variables.$dark-grayish-blue;
        font-size: 1em;
        font-weight: 400;
        text-align: start;
      }
    }
    .line {
      background-color: variables.$dark-grayish-blue;
      height: 1px;
    }
  }
}